<h1>Helpful Links</h1>
<br />
<h4><%= link_to "Michael Hartl's Rails Tutorial", "http://ruby.railstutorial.org/" %></h4>
	<p>I read the tutorial twice. Once before watching the treehouse rails videoes, and again afterwards. He does a fantastic job explaining how rails works and what to expect when developing rails applications.</p>
	<br />
<h4><%= link_to "Team Treehouse", "http://teamtreehouse.com/" %></h4>
	<p>Subscription is $25 a month, but worth every penny. Has screencast tutorials from beginning HTML and CSS to developing advanced Rails Applications.</p>
  <br />
<h4><%= link_to "Rails Guides", "http://guides.rubyonrails.org/" %></h4>
	<p>Great overview on rails specifics. Gives a clear definition of how MVC is implemented in Rails and how each part's role is distributed.</p>
	<br />
	<br />
<h1>Favorite Gems</h1>
<br />
<h4><%= link_to "Paperclip", "https://github.com/thoughtbot/paperclip" %></h4>
	<p>Paperclip allows the ability to attach files (pictures, documents, etc) and upload them. Easily be able to upload avatars, pre-typed html and many many other uses.</p>
	<br />
<h4><%= link_to "Twitter Bootstrap", "https://github.com/seyhunak/twitter-bootstrap-rails" %></h4>
	<p>Easy implementation of start up CSS. I find myself lacking in the design department and Bootstrap gives me a great start on designing a website.</p>
	<br />
<h4><%= link_to "Devise", "https://github.com/plataformatec/devise" %></h4>
	<p>Want users to be able to log in to your website and perform tasks specific to them? Devise is perfect for that. It comes with several helpers that make doing user specific tasks easy.</p>
	<br />
<h4><%= link_to "Friendly Id", "https://github.com/norman/friendly_id" %></h4>
	<p>Do you hate having a url thats ends with a number id? Friendly Id allows you to be able to use attributes as url names (hooray!).</p>
	<br />  